<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
    <http pattern="/user/login" security="none"/>
    <http auto-config="true">
        <intercept-url pattern="/login" access="permitAll"/>
        <intercept-url pattern="/user/**" access="isAuthenticated"/>
        <intercept-url pattern="/login?**" access="permitAll"/>
        <intercept-url pattern="/admin**" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')"/>
        <intercept-url pattern="/**" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')"/>

        <form-login login-page="/login"
                    default-target-url="/admin"
                    authentication-failure-url="/login?error"
                    login-processing-url="/login"
                    username-parameter="username"
                    password-parameter="password"/>
        <logout logout-success-url="/login?logout"
                logout-url="/j_spring_security_logout"/>
        <!-- config csrf protection -->
        <csrf disabled="false"/>
        <access-denied-handler error-page="/error/error_authorization" />
    </http>

    <authentication-manager>
        <authentication-provider >
            <user-service>
                <user name="anhvv" password="{noop}123456" authorities="ROLE_USER,ROLE_ADMIN" />
            </user-service>
        </authentication-provider>
    </authentication-manager>
</b:beans>